---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

PointerAlignment: Left
ReferenceAlignment: Left

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true

SpaceAfterCStyleCast: true
SeparateDefinitionBlocks: Always
